<div class="centered">
    <form (ngSubmit)="handleSubmit(form.value, form.valid)" #form="ngForm" novalidate>
      <div>
        Title:
        <input
          type="text"
          name="title"
          required
          #title="ngModel"
          [ngModel]="detail?.title">
        <div *ngIf="title?.errors?.required && title?.dirty && title?.touched" class="error">
          Bookmark title is required
        </div>
      </div>
      <div>
        Url:
        <input
          type="text"
          name="url"
          required
          #url="ngModel"
          [ngModel]="detail?.url"
          isUrl>
         <div *ngIf="url?.errors?.required && url?.dirty && url?.errors?.isNotUrl && url?.touched" class="error">
          Please enter a valid url (include http/https)
        </div>
      </div>
      <button type="submit" [disabled]="form.invalid">
        Add new bookmark
      </button>
    </form>
    <div>
